<div class="container">
    <h2 dir="rtl" >الصلاحيات</h2>
    <button class="btn btn-primary">إضافة صلاحية</button>
  
    <input type="text" placeholder="البحث" [(ngModel)]="searchQuery" />
    <div class="row-control" dir="rtl">
      <label for="rowsPerPage">عدد الصفوف المعروضة</label>
      <select [(ngModel)]="rowsPerPage" id="rowsPerPage">
        <option *ngFor="let option of rowOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>اسم الصلاحية</th>
          <th>تاريخ الإضافة</th>
          <th>الإعدادات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of paginatedGroups(); let i = index; trackBy: trackById">
          <td>{{ i + 1 }}</td>
          <td>{{ group.name }}</td>
          <td>{{ group.creationDate | date: 'HH:mm:ss yyyy-MM-dd' }}</td>
          <td>
            <button (click)="viewGroup(group.id)" class="btn btn-info">
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="editGroup(group.id)" class="btn btn-warning">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button (click)="deleteGroup(group.id)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  