.container {
    padding: 20px;
    
  }
  
  table {
    width: 100%;
    text-align: right;
    direction: rtl;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
  }
  
  button.btn {
    margin: 0 5px;
    font-size: 13px;
  }
  
  thead {
    background-color: #f8f9fa;
  }
  
  thead th {
    text-align: center;
  }
  
  tbody td {
    text-align: center;
  }
  .custom-close-btn {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20%;
  }
  
  .custom-close-btn:hover {
    background-color: darkred;
  }
  
  