<app-page-header
  title="اضافة موظف"
  [path]="[
    { name: 'الموظفين', link: '/Employees' },
    { name: 'اضافة موظف', link: '/Employees/add' }
  ]"
>
</app-page-header>

<div class="section p-4">
  <h2 class="text-end mb-4">اضافة موظف</h2>
  <!-- TODO: add form -->
  <form [formGroup]="employeeForm">
    <div class="row my-4">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">الاسم</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            placeholder="الاسم"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">البريد الالكتروني</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="البريد الالكتروني"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="password">كلمة المرور</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="كلمة المرور"
          />
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-4">
        <div class="form-group">
          <label for="phoneNumber">رقم الهاتف</label>
          <input
            type="text"
            id="phoneNumber"
            formControlName="phoneNumber"
            class="form-control"
            placeholder="رقم الهاتف"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="role">الوظيفة</label>
          <select id="role" formControlName="role" class="form-select">
            <option value="" disabled selected>اختر الوظيفة</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="branch">الفرع</label>
          <select id="branch" formControlName="branch" class="form-select">
            <option value="" disabled selected>اختر الفرع</option>
          </select>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary w-25">حفظ</button>
    </div>
  </form>
</div>
