body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

label {
  font-weight: bold;
}

button {
  font-size: 16px;
  padding: 10px 20px;
}

.pink-table {
  background-color: #6d6d6d;
  border-color: #666666;
}

.pink-table th,
.pink-table td {
  border-color: #666464;
}
