<div class="container">
  <h2 dir="rtl">الصلاحيات</h2>
  <button class="btn btn-primary" (click)="openAddFieldJobForm()">إضافة صلاحية</button>
  <app-add-field-job
  [privileges]="privileges"
  [editMode]="isEditMode"
  [viewMode]="viewMode"
  [fieldJobToEdit]="fieldJobToEdit"
  (fieldJobUpdated)="handleFieldJobUpdated()"></app-add-field-job>
  <input type="text" placeholder="البحث" [(ngModel)]="searchQuery" />
  <div class="row-control" dir="rtl">
      <label for="rowsPerPage">عدد الصفوف المعروضة</label>
      <select [(ngModel)]="rowsPerPage" id="rowsPerPage">
          <option *ngFor="let option of rowOptions" [value]="option">{{ option }}</option>
      </select>
  </div>

  <table class="table table-striped">
      <thead>
          <tr>
              <th>#</th>
              <th>اسم الصلاحية</th>
              <th>تاريخ الإضافة</th>
              <th>الإعدادات</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let group of paginatedFieldJob(); let i = index; trackBy: trackById">
              <td>{{ i + 1 }}</td>
              <td>{{ group.name }}</td>
              <td>{{group.dateAdding| date:'yyyy-MM-dd   HH:mm:ss'}}</td>
              <td>
                  <button (click)="viewFieldJob(group)" class="btn btn-info">
                      <i class="fa fa-eye"></i>
                  </button>
                  <button (click)="editFieldJob(group)" class="btn btn-warning">
                      <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button (click)="deleteFieldJob(group.id)" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
