<div class="mt-5 container p-5">
  <div class="text-center mb-5 w-50 m-auto">
    <img src="PSimge.png" alt="Logo" class="img-fluid" />
  </div>
  <div class="w-50 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" dir="rtl">
      <div class="mb-3">
        <label for="EmailOrUsername" class="form-label lead fw-bold"
          >البريد الالكتروني</label
        >
        <input
          type="text"
          id="EmailOrUsername"
          formControlName="EmailOrUsername"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label lead fw-bold">كلمة السر</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-50 m-auto d-block mt-4">
        تسجيل الدخول
      </button>
    </form>
  </div>
</div>
