<div class="mt-5 container p-5">
  <div class="text-center mb-5 w-50 m-auto">
    <img src="PSimge.png" alt="Logo" class="img-fluid" />
  </div>
  <div class="w-50 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" dir="rtl">
      <div class="form-group mb-3">
        <label for="EmailOrUsername" class="form-label lead fw-bold"
          >البريد الالكتروني او اسم المستخدم</label
        >
        <input
          type="text"
          id="EmailOrUsername"
          formControlName="EmailOrUsername"
          class="form-control shadow-sm"
          placeholder="ادخل البريد الالكتروني او اسم المستخدم"
          [ngClass]="{
            'is-invalid':
              loginForm.get('EmailOrUsername')?.invalid &&
              loginForm.get('EmailOrUsername')?.touched,
            'is-valid':
              loginForm.get('EmailOrUsername')?.valid &&
              loginForm.get('EmailOrUsername')?.touched
          }"
        />

        <div
          *ngIf="
            loginForm.get('EmailOrUsername')?.invalid &&
            loginForm.get('EmailOrUsername')?.touched
          "
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.get('EmailOrUsername')?.errors?.['required']">
            البريد الالكتروني او اسم المستخدم مطلوب
          </div>
        </div>
        <div class="form-group my-3 position-relative">
          <label for="password" class="form-label lead fw-bold"
            >كلمة المرور</label
          >
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            class="form-control shadow-sm"
            placeholder="كلمة المرور"
            [ngClass]="{
              'is-invalid':
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched,
              'is-valid':
                loginForm.get('password')?.valid &&
                loginForm.get('password')?.touched
            }"
          />

          <i
            class="fa show-password position-absolute"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePasswordVisibility()"
          ></i>

          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              كلمة المرور مطلوبة
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-50 m-auto d-block mt-4">
        تسجيل الدخول
      </button>
    </form>
  </div>
</div>
