<app-page-header title="المحافظات" [path]="[{ name: 'المحافظات', link: '' }]">
  <a
    class="btn btn-primary"
    [routerLink]="['add']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    ><i class="bi bi-plus-lg navicon"></i> اضافة محافظة</a
  >
</app-page-header>
<div class="section">
  <div class="container mt-4">
    <h3 class="text-end mb-3">المحافظات</h3>
    @if (governs.length > 0) {
    <table
      id="governTable"
      class="table table-bordered text-center rounded"
      width="100%"
    >
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>الاسم</th>
          <th>الحالة</th>
          <th>الاعدادات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let govern of governs; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ govern.name }}</td>
          <td>
            <div
              class="form-check form-switch d-flex justify-content-center align-items-center"
            >
              <label class="switch">
                <input
                  type="checkbox"
                  [checked]="govern.status"
                  (change)="toggleStatus(govern.id)"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </td>
          <td>
            <a
              class="btn btn-outline-success"
              [routerLink]="['edit', govern.id]"
            >
              <i class="bi bi-pen"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    }@else {
    <h3 class="text-center text-muted">لا توجد محافظات للعرض</h3>
    }
  </div>
</div>
