<app-page-header title="التجار" [path]="[{ name: 'التجار', link: 'Seller' }]">
  <a [routerLink]="['add']" class="btn btn-primary">
    <i class="bi bi-plus-lg navicon"></i> اضافة تاجر
  </a>
</app-page-header>

<div class="section">
  <div class="container">
    @if (data.length > 0) {
    <table class="table text-center">
      <thead>
        <th>#</th>
        <th>اسم التاجر</th>
        <th>البريد الالكتروني</th>
        <th>رقم الهاتف</th>
        <th>الفرع</th>
        <th>الإعدادات</th>
      </thead>
      <tbody>
        @for (seller of data ; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ seller.name }}</td>
          <td>{{ seller.email }}</td>
          <td>{{ seller.phone }}</td>
          <td>{{ seller.branchID }}</td>
          <td>
            <a [routerLink]="['edit', seller.id]" class="btn btn-warning mx-2"
              ><span class="bi bi-pencil"></span
            ></a>
            <a (click)="delete(seller.id)" class="btn btn-danger"
              ><span class="bi bi-trash"></span
            ></a>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }@else {
    <div class="alert alert-danger">لا يوجد بيانات</div>
    }
  </div>
</div>
