<app-page-header
  title="المناديب"
  [path]="[{ name: 'المناديب', link: '/Agents' }]"
>
  <a [routerLink]="['add']" class="btn btn-primary">
    <i class="fa fa-plus mx-2"></i>
    <span>إضافة مندوب</span>
  </a>
</app-page-header>

<div class="section p-4">
  <table class="table text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>اسم المندوب</th>
        <th>البريد الالكتروني</th>
        <th>رقم الهاتف</th>
        <th>الفرع</th>
        <th>الصلاحيات</th>
        <th>الحالة</th>
        <th>الإعدادات</th>
      </tr>
    </thead>
    <tbody>
      @for (agent of Agents; track $index) {
      <tr>
        <td>{{ $index + 1 }}</td>
        <td>{{ agent.name }}</td>
        <td>{{ agent.email }}</td>
        <td>
          <a [routerLink]="['edit', agent.id]" class="btn btn-warning"
            ><i class="fa fa-edit"></i></a
          >&nbsp;
          <button class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
