/* You can add global styles to this file, and also import other style files */

/* Global Colors */
:root {
  --background-color: #ffffff;
  --default-color: #272829;
  --heading-color: #050d18;
  --accent-color: #005e87;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  /* Nav Menu Colors */
  --nav-color: #a8a9b4;
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #040b14;
  --nav-dropdown-background-color: #040b14;
  --nav-dropdown-color: #a8a9b4;
  --nav-dropdown-hover-color: #ffffff;
}
/* customize bootstrap primary color */

.btn-primary,
.btn-outline-primary:hover {
  --bs-btn-color: #fff;
  --bs-btn-bg: #005e87;
  --bs-btn-border-color: rgb(0, 94, 135);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0674a3;
  --bs-btn-hover-border-color: #066289;
  --bs-btn-focus-shadow-rgb: 0, 94, 135;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #066289;
  --bs-btn-active-border-color: #066289;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #005e87;
  --bs-btn-disabled-border-color: #005e87;
}
.btn-outline-primary {
  --bs-btn-color: #005e87;
  --bs-btn-border-color: #005e87;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005e87;
  --bs-btn-hover-border-color: #005e87;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005e87;
  --bs-btn-active-border-color: #005e87;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #005e87;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #005e87;
  --bs-gradient: none;
}
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  box-shadow: rgba(0, 94, 135, 0.25) 0px 0px 0px 0.15rem !important;
}
/* Color Presets */

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}
:root {
  scroll-behavior: smooth;
}

* {
  direction: rtl;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.section {
  width: 95%;
  margin: 1rem auto;
  padding: 20px 0;
  background-color: var(--background-color);
  border-radius: 10px;
}

.form-select {
  background-position: left 0.75rem center;
}
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  background-position: left 0.75rem center, center left 2.25rem;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-position: left 0.75rem center, center left 2.25rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
