/* You can add global styles to this file, and also import other style files */

/* Global Colors */
:root {
  --background-color: #ffffff;
  --default-color: #272829;
  --heading-color: #050d18;
  --accent-color: #149ddd;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  /* Nav Menu Colors */
  --nav-color: #a8a9b4;
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #040b14;
  --nav-dropdown-background-color: #040b14;
  --nav-dropdown-color: #a8a9b4;
  --nav-dropdown-hover-color: #ffffff;
}
/* Color Presets */

.light-background {
  --background-color: #f4fafd;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}
:root {
  scroll-behavior: smooth;
}

* {
  direction: rtl;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.section {
  width: 95%;
  margin: 1rem auto;
  padding: 20px 0;
  background-color: var(--background-color);
  border-radius: 10px;
}

.form-select {
  background-position: left 0.75rem center;
}
